doctype html
html
   head
      title TimeStamp MicroService
   body
      h1 Hello!
      h2 My name is Brent Keath.
      h2 I created this microservice for FreeCodeCamp!
      p
        strong Instructions
      p Put in an integer or date at the end of the URL to see the corresponding UNIX code or natural date.
      p If what you enter is not a proper unix code or date, both will return null.